.Link {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: beige;
    color: brown;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}