.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgba(6, 14, 131, 1) 0%, rgba(12, 25, 180, 1) 100%);
    height: 5rem;
    width: 100%;
    margin-top: 2rem;
}

.footer h1 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10rem;
    margin-right: 1rem;
}

.socialmedia svg {
    color: #ffffff;
    font-size: 3rem;
    cursor: pointer;
}