.header {
    background-color: rgb(6, 14, 131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}

.header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}