.Card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 0 0 10px 0 #c4b3e1;
}

.Card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.cardTitulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.Card a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Card>a>div {
    color: rgb(255, 255, 255);
}

.Card img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}