.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control input {
    padding: .7em;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
}

.form_control input::placeholder {
    color: gray;
}

.form_control input:focus {
    outline: none;
}

.form_control input[type="file"] {
    cursor: pointer;
}

.form_control input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
    padding: .5em;
    border-radius: 10px;
    background-color: gray;
    color: white;
    border: none;

}